@import "tailwindcss";

@theme {
  /* Definimos los colores del proyecto SpyNet */
  /* Automáticamente genera clases como: bg-spy-dark, text-spy-green, border-spy-gray */
  
  --color-spy-dark: #0f172a;
  --color-spy-green: #10b981;
  --color-spy-gray: #334155;

  /* Si quisieras fuentes personalizadas, sería así: */
  /* --font-display: "Saira", "sans-serif"; */
}

/* Estilos base (Reset y globales) */
body {
  background-color: var(--color-spy-dark);
  color: #e2e8f0;
  font-family: system-ui, -apple-system, sans-serif;
}